{% extends "base.html" %}

{% block page_title %}
Recipe Management
{% endblock %}

{% block H2_Description %}
Please find the details of the recipe that you requested.
{% endblock %}
#Pass in recipe down there

{% block H2_Content %}
{%- for recipe in recipes %}

<h2>{{ recipe.name }}</h2>
<img src="{{ url_for('static', filename='image_dir/'+recipe.image )}}" width="500" height="500" alt="food image">
<h2>{{ recipe.ingreidents }}</h2>
<h2>{{ recipe.prep }}</h2>
<h2>{{ recipe.serving }}</h2>

{%- endfor %}

{% endblock %}
