<script>
    console.log("Hello")
    {% if removal_message %}
    window.onload=function(){
    alert("Sorry, recipe has not been found.")}
    {% endif %}
</script>

{% extends "base.html" %}
{% from "form-macros.html" import render_field with context %}
{% block page_title %}
Recipe Removal
{% endblock %}

{% block H1_Description %}
{% endblock %}

{% block H1_Content %}
{% endblock %}

{% block H2_Content %}



<section>
    <form action="{{ url_for('remove_recipe') }}" enctype="multipart/form-data" method="post">
        {{ form.csrf_token }}
        <div class="row">
            <div class="col-md-6">
                <h2>Please insert the name of the recipe you'd like to delete here.</h2>
                <table>
                    {{ render_field(form.recipe_name, size=20) }}
                </table>
            </div>
            <table>
                <tr class="submit">
                    <td></td>
                    <td>
                        <button type="submit" class="btn btn-danger">Remove Recipe</button>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</section>
{% endblock %}

{% block removal_result %}
{% if removal_message %}
    <h3>Removal Result:</h3>
    <p>{{ removal_message }}</p>
{% endif %}
{% endblock %}




