<script>
    console.log("Hellooo")
    {% if isSearch %}
        {% if not recipes %}
            window.onload=function(){
            alert("Sorry, recipe has not been found.")}
        {% endif %}
    {% endif %}
</script>

{% extends "base.html" %}
{% from "form-macros.html" import render_field with context %}
{% block page_title %}
Recipe Search
{% endblock %}

{% block H1_Description %}
{% endblock %}

{% block H1_Content %}
{% endblock %}

{% block H2_Description %}
{% endblock %}

{% block H2_Content %}



{% if recipes is defined %}

{%- for recipe in recipes %}

<img src="{{ url_for('static', filename='image_dir/'+recipe.image )}}" width="500" height="500" alt="food image">
<h2>{{ recipe.name }}</h2>
<h2>{{ recipe.ingreidents }}</h2>
<h2>{{ recipe.prep }}</h2>
<h2>{{ recipe.serving }}</h2>

{%- endfor %}

{% endif %}

<section>
    <form action="" enctype="multipart/form-data" method="post">
        {{ form.csrf_token }}
<div class="row">
    <div class="col-md-6">
        <h2>Please insert the name of the recipe you would like to search for</h2>
        <table>
            {{ render_field(form.recipe_name, size=20) }}
        </table>
    </div>
    <table>
        <tr class="submit">
            <td></td>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>
    </table>
</div>
    </form>
</section>
{% endblock %}

{% block search_result %}
    {% if notfound_message %}
        <h3>Search Result:</h3>
        <p>{{ notfound_message }}</p>
    {% endif %}
{% endblock %}

